<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home" ng-controller="shirtsCtrl">
                <table class="table-responsive table table-striped table-condensed table-hover" align="center" style="width:30%;">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>YM</th>
                            <th>YL</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{shirtsOrdered.ShirtPurpose}}</td>
                            <td>{{shirtsOrdered.YouthMedium}}</td>
                            <td>{{shirtsOrdered.YouthLarge}}</td>
                            <td>{{shirtsOrdered.Medium}}</td>
                            <td>{{shirtsOrdered.Large}}</td>
                            <td>{{shirtsOrdered.XL}}</td>
                        </tr>
                        <tr ng-repeat="shirts in shirtInfo">
                            <td>{{shirts.ShirtPurpose}}</td>
                            <td>{{shirts.YouthMedium}}</td>
                            <td>{{shirts.YouthLarge}}</td>
                            <td>{{shirts.Medium}}</td>
                            <td>{{shirts.Large}}</td>
                            <td>{{shirts.XL}}</td>
                        </tr>
                        <tr>
                            <td><b>{{shirtsRemaining.ShirtPurpose}}</b></td>
                            <td><b>{{shirtsRemaining.YouthMedium}}</b></td>
                            <td><b>{{shirtsRemaining.YouthLarge}}</b></td>
                            <td><b>{{shirtsRemaining.Medium}}</b></td>
                            <td><b>{{shirtsRemaining.Large}}</b></td>
                            <td><b>{{shirtsRemaining.XL}}</b></td>
                        </tr>
                    </tbody>    
                </table>
                <br />
                <!-- Tabs -->
                <!--<input type="text" ng-model="{{currentUser}}" ng-show="{{currentUser = null}}"> Please enter your name or email-->
                <div class='section'>
                    <ui-state id='activeTab' default='1'></ui-state>
                    <ul class="nav nav-tabs">
                        <li ui-class="{'active': activeTab == 1}">
                            <a ui-set="{'activeTab': 1}">Donations</a>
                        </li>
                        <li ui-class="{'active': activeTab == 2}">
                            <a ui-set="{'activeTab': 2}">Volunteers</a>
                        </li>
                        <li ui-class="{'active': activeTab == 3}">
                            <a ui-set="{'activeTab': 3}">Teachers</a>
                        </li>
                        <li ui-class="{'active': activeTab == 4}">
                            <a ui-set="{'activeTab': 4}">Students</a>
                        </li>
                    </ul>
                    <div ui-if="activeTab == 1">
                        <h3 class="page-header">Donations</h3>
                        <span ng-show="shirtGivenDonation"><font color="red">Donation shirt totals for size *{{shirtGivenDonationSize}}* have changed </font></span>
                        <br />
                        <span ng-show="shirtGivenDonation"><h6><font color="red">(Totals will update on page refresh)</h6></font></span>
                            <table border="1" cellpadding="20" align="center">
                                <tr>
                                    <td>Youth Medium<br /><a ng-click="distribDonations(-1,0,0,0,0)">(return a shirt)</a></td>
                                    <td width="70" height="40"><input type="button" value="+1" ng-click="distribDonations(1,0,0,0,0)" />
                        </td>                                
                            </tr>
                            <tr>
                                <td>Youth Large<br /><a ng-click="distribDonations(0,-1,0,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribDonations(0,1,0,0,0)" /></span></td>                                
                            </tr>
                            <tr>
                                <td>Medium<br /><a ng-click="distribDonations(0,0,-1,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribDonations(0,0,1,0,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>Large<br /><a ng-click="distribDonations(0,0,0,-1,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribDonations(0,0,0,1,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>XL<br /><a ng-click="distribDonations(0,0,0,0,-1)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribDonations(0,0,0,0,1)" /></span></td>
                        </table>

                    </div>
                    <div ui-if="activeTab == 2">
                        <h3 class="page-header">Volunteers</h3>
                        <span ng-show="shirtGivenVolunteer"><font color="red">Volunteeer shirt totals for size *{{shirtGivenVolunteerSize}}* have changed </font></span>
                        <br />
                        <span ng-show="shirtGivenVolunteer"><h6><font color="red">(Totals will update on page refresh)</h6></font></span>
                        <table border="1" cellpadding="20" align="center">
                            <tr>
                                <td>Youth Medium<br /><a ng-click="distribVolunteers(-1,0,0,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40">
                                    <input type="button" value="+1" ng-click="distribVolunteers(1,0,0,0,0)" />
                                </td>
                            </tr>
                            <tr>
                                <td>Youth Large<br /><a ng-click="distribVolunteers(0,-1,0,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribVolunteers(0,1,0,0,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>Medium<br /><a ng-click="distribVolunteers(0,0,-1,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribVolunteers(0,0,1,0,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>Large<br /><a ng-click="distribVolunteers(0,0,0,-1,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribVolunteers(0,0,0,1,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>XL<br /><a ng-click="distribVolunteers(0,0,0,0,-1)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribVolunteers(0,0,0,0,1)" /></span></td>
                        </table>
                    </div>
                    <div ui-if="activeTab == 3">
                        <h3 class="page-header">Teachers</h3>
                        <span ng-show="shirtGivenTeacher"><font color="red">Teacher shirt totals for size *{{shirtGivenTeacherSize}}* have changed </font></span>
                        <br />
                        <span ng-show="shirtGivenTeacher"><h6><font color="red">(Totals will update on page refresh)</h6></font></span>
                        <table border="1" cellpadding="20" align="center">
                            <tr>
                                <td>Youth Medium<br /><a ng-click="distribTeachers(-1,0,0,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40">
                                    <input type="button" value="+1" ng-click="distribTeachers(1,0,0,0,0)" />
                                </td>
                            </tr>
                            <tr>
                                <td>Youth Large<br /><a ng-click="distribTeachers(0,-1,0,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribTeachers(0,1,0,0,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>Medium<br /><a ng-click="distribTeachers(0,0,-1,0,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribTeachers(0,0,1,0,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>Large<br /><a ng-click="distribTeachers(0,0,0,-1,0)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribTeachers(0,0,0,1,0)" /></span></td>
                            </tr>
                            <tr>
                                <td>XL<br /><a ng-click="distribTeachers(0,0,0,0,-1)">(return a shirt)</a></td>
                                <td width="70" height="40"><input type="button" value="+1" ng-click="distribTeachers(0,0,0,0,1)" /></span></td>
                        </table>
                    </div>
                    <div ui-if="activeTab == 4">
                        <h3 class="page-header">Students</h3>
                        <span><font color="red">Student shirts are recorded with check-in </font></span>
                       
                    </div>
                    <!--<div class="btn-group justified nav-tabs">
                        <a ui-set="{'activeTab': 1}"
                           ui-class="{'active': activeTab == 1}" class="btn btn-default">Tab 1</a>
                        <a ui-set="{'activeTab': 2}"
                           ui-class="{'active': activeTab == 2}" class="btn btn-default">Tab 2</a>
                        <a ui-set="{'activeTab': 3}"
                           ui-class="{'active': activeTab == 3}" class="btn btn-default">Tab 3</a>
                    </div>-->
                </div>

                <!-- end tabs-->
            </div>

        </div>
    </div>
</div>

